<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysisRT" ToolsVersion="11.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA908" Action="None" />
  </Rules>
</RuleSet>